.hero {
    margin-top: 100px;
  
    .title {
      font-size: 64px;
      font-weight: 700;
  
      span {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    img {
        width: 260px;        // control size
        height: 260px;       // make it square
        object-fit: cover;   // crop nicely
        border-radius: 20px; // rounded corners
        border: 1px solid $border;
      }
  
    .subtitle {
      margin-top: 20px;
      max-width: 600px;
    }
  
    .buttons {
      margin-top: 30px;
      display: flex;
      gap: 16px;
      justify-content: center;
      flex-wrap: wrap;
  
      button {
        padding: 12px 24px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: 500;
      }

  
      .primary {
        background: white;
        color: black;
      }
  
      .secondary {
        background: transparent;
        border: 1px solid $border;
        color: white;
      }
    }

    .buttons button {
        background: $glass;
        border: 1px solid $border;
        color: white;
      
        &:hover {
          border-color: #3b82f6;
          transform: translateY(-2px);
        }
      }
  }


  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column-reverse; // image on top 🔥
      text-align: center;
    }
  
    .hero-left {
      width: 100%;
    }
  
    .hero-right img {
      width: 180px;
      height: 180px;
    }

    .title {
        font-size: 36px;
      }
    
      .subtitle {
        font-size: 16px;
      }

      .buttons button {
        flex: 0 0 calc(50% - 8px); /* 2 in a row */
      }
    }